.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  content: '';
  align-items: flex-start;
  justify-content: center;
  background-color: #000;
}
.content {
  background-color: #9f5ddd;
  content: '';
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 500px;
  margin: 60px 0px 0px 70px;
  overflow-x: hidden;
}
.bee-img {
  height: 50px;
}
.content img {
  height: 300px;
}
.content h1 {
  color: #fffff7;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.content span {
  display: flex;
  color: #fffff7;
  font-size: 17px;
}
.img-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-container {
  flex-direction: column;
  height: 100%;
  width: 50%;
  display: flex;
  margin-left: 20px;
}
.text-container span {
  flex-direction: column;
  height: 100%;
  width: 100%;
  display: flex;
  margin-left: 20px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: '#000';
  color: white;
  text-align: center;
  border-top: 0.5px dashed;
}
